.login-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #fff;
    width: 600px;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.login-header-text {
    font-size: 48px;
    font-weight: 700;
}

.login-header-underline {
    width: 25%;
    height: 6px;
    background: #1aa0fa;
    border-radius: 9px;
}

.login-inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 400px;
    height: 50px;
    border-radius: 6px;
    font-size: 19px;
}

.login-text {
    padding-left: 120px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.login-text a {
    text-decoration: none;
}

.login-btn-group {
    margin: 10px auto 0px auto;
    width: 480px;
    color: #797979;
    font-size: 18px;
}

.login-submit-container {
    display: flex;
    gap: 30px;
    margin: 40px auto;
}

.login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
} 

